<div class="modal fade" 
     id="exampleModal" 
     data-bs-backdrop="static" 
     tabindex="-1" 
     aria-labelledby="exampleModalLabel" 
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">認養刊登需知</h5>
            </div>
            <div class="modal-body">
                <p style="text-align:left; color:rgb(141, 19, 19);">1. 優先受理嚴重傷病並正處於極度痛苦的流浪貓狗</p>
                <p style="text-align:left;">為了讓人力及資源做最有效的運用，將優先處理重傷、危急的傷病流浪貓狗，如：遭捕獸器夾傷、車禍重傷、嚴重皮膚病、重度受虐等等；提醒您：無法收容民眾棄養的流浪貓狗</p>
                <p style="text-align:left; color:rgb(141, 19, 19);">2. 有權拒絕「不負責任的通報人」</p>
                <p style="text-align:left;">對於民眾通報的任何一隻傷病或受虐流浪動物，都希望能成功救援，但因資源及時間有限，所以通報人必須負起責任，在通報前後與救援人員充份配合，完整參與救援過程。有權拒絕不負責任的通報人。</p>
                <p style="text-align:left; color:rgb(141, 19, 19);">3. 營救後將全權處理後續安置與送養等決定</p>
                <p style="text-align:left;">完成營救的傷病犬貓將安排合作的動物醫療院所進行安置與治療，通報人無得有異議；後續認領養手續也需經由救援人員同意並做出最後決定。</p>
                <p style="text-align:left; color:rgb(141, 19, 19);">4. 不一定能受理每一則救援通報</p>
                <p style="text-align:left;">儘最大可能解除傷病犬貓痛苦，但有限於人力時間等各種面向，並不能保證一定能接下每一則救援任務，也無法保證救援任務一定能順利成功。將儘可能審慎評估每一則救援通報，並視急難程度分級後優先處理最急迫的案例。</p>
                <p style="text-align:left; color: blue;">請注意：當您按下「我同意」按鈕後，視同您已完全閱讀並了解以上所有的救援通報需知；如您有任何疑議，請事先與我們聯絡。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">我同意</button>
            </div>
        </div>
    </div>
</div>
