<link href="~/Content/footer.css" rel="stylesheet" />


<!-- 頁尾內容 -->
<footer id="footer">
    <div class="container">
        <div>
            <ul class="footer ps-0">
                <li>
                    @Html.ActionLink("關於我們", "about", "Footer")
                </li>
                <li>
                    @Html.ActionLink("隱私權政策", "PrivacyPolicy", "Footer")
                </li>
                <li>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeB-USy-JEW8RJZ3o1KKDwC-3lqfwP4U1SSVSmpCowjVoQL_w/viewform?usp=sf_link">建議回饋<img src="" alt=""></a>
                </li>
            </ul>
            <ul class="d-flex list-unstyled footer">

                <li><a href="https://www.facebook.com/"><img src="~/Images/svg/facebook.svg" alt="facebook"></a></li>
                <li><a href="#"><img src="~/Images/svg/email.svg" alt="email"></a></li>
                <li><a href="#"><img src="~/Images/svg/instagram.svg" alt="instagram"></a></li>
                <li><a href="#"><img src="~/Images/svg/youtube.svg" alt="youtube"></a></li>

            </ul>
            <div class="">
                <p class="copyright">&copy;毛起來找 MaoUpFind 2021 </p>
            </div>
        </div>
    </div>
</footer>
<!-- 頁尾內容 END-->