

body {
    color: #515151;
}

form {
    font-size: 1.2rem;
}

.line {
    height: 3px;
    width: 160px;
    background: #f6d8a1;
}

.form-label {
    letter-spacing: 5px;
}

/* placeholder顏色 */
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbb !important;
    /* 有別的ＣＳＳ的優先順序比較高 不用important的話蓋不掉 */
}

/*已詳閱通報須知 樣式*/
.form-check .form-check-input {
    margin-left: -2.5em;
    float: none;
}

/**/
.pic img {
    object-fit: cover;
    object-position: center center;
}

/*選擇照片 樣式*/
label[for="file"] {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #515151;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

    label[for="file"]:hover {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    label[for="file"]:active {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }

    #letmeopen {
    position: fixed;
    z-index: 9999 !important;
    font-size: 1.8rem;
    overflow: auto; /*捲軸*/
    }
